<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin/addProductAdmin.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs')%>
    <main>
      <div>
        <form method="POST" action="/admin/addProduct/addProduct">
          <div>
            <div>
              <label for="title">Title</label>
              <input type="text" name="title" id="title" />
            </div>
            <div>
              <label for="img">Image</label>
              <input type="text" name="img" id="img" />
            </div>
            <div>
              <label for="price">Price</label>
              <input type="text" name="price" id="price" />
            </div>
            <div>
              <label for="description">Description</label>
              <input type="text" name="description" id="description" />
            </div>
          </div>
          <div>
            <button type="submit" class="btn">Add Product</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
