<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin/indexAdmin.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs')%>
    <main>
      <div class="optionsContainer">
        <div>
          <a href="/admin/addProduct">Add Product</a>
        </div>
        <div>
          <a href="/admin/editProducts">Edit Products</a>
        </div>
        <div>
          <a href="/admin/deleteProducts">Delete Products</a>
        </div>
      </div>
    </main>
  </body>
</html>
