<header>
  <nav>
    <ul>
      <li>
        <% if (parent == "shop") { %>
        <a class="navItem" style="color: rgb(255, 221, 0)" href="/shop">Shop</a>
        <% } else { %>
        <a class="navItem" href="/shop">Shop</a>
        <% } %>
      </li>
      <li>
        <% if (parent == "cart") { %>
        <a class="navItem" style="color: rgb(255, 221, 0)" href="/cart">Cart</a>
        <% } else { %>
        <a class="navItem" href="/cart">Cart</a>
        <% } %>
      </li>
      <li>
        <% if (parent == "orders") { %>
        <a class="navItem" style="color: rgb(255, 221, 0)" href="/orders">Orders</a>
        <% } else { %>
        <a class="navItem" href="/orders">Orders</a>
        <% } %>
      </li>
      <li>
        <% if (parent == "admin") { %>
        <a class="navItem" style="color: rgb(255, 221, 0)" href="/admin">Admin</a>
        <% } else { %>
        <a class="navItem" href="/admin">Admin</a>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
