<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/shop/noProductsShop.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs')%>
    <main>
      <div>
        <h1>Nothing is there to buy!</h1>
      </div>
    </main>
  </body>
</html>
