main {
  padding: 20px;
  #itemsContainer {
    max-width: 1100px;
    margin: auto;
    display: grid;
    @media screen and (min-width: 840px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    @media screen and (min-width: 450px) and (max-width: 550px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    .product {
      text-align: center;
      box-shadow: 0px 0px 4px 2px #777 !important;
      border-radius: 4px;
      padding: 10px 0px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content minmax(180px, 220px);
      gap: 10px;
      h1 {
        padding: 0px 5px;
        font-size: 25px;
        font-weight: 600;
      }
      h2 {
        font-weight: 600;
        color: #444;
      }
      div:nth-child(2) {
        background-color: black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      div:nth-child(4) {
        p {
          padding: 0px 5px;
          line-height: 20px;
        }
      }
    }
  }
}

.deleteProductBtn {
  background-color: transparent;
  padding: 3px;
  outline: none;
  border: none;
  a {
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: rgb(204, 11, 11);
    box-shadow: 0px 0px 1px 1.5px rgb(204, 11, 11);
    border-radius: 5px;
    background-color: white;
    padding: 5px;

    &:hover {
      box-shadow: 0px 0px 2px 1.5px rgb(204, 11, 11);
    }
  }
}
