main {
  padding: 20px;
  .optionsContainer {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    justify-content: center;
    gap: 25px;
    div {
      border-radius: 5px;
      box-shadow: 0px 0px 5px 2px #666;
      display: flex;
      a {
        font-weight: bold;
        font-size: 32px;
        width: 100%;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
        color: darkcyan;
      }
    }
  }
}
